@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.to-dark-blue {
  --tw-gradient-to: #343650;
}
.from-darkest-blue {
  --tw-gradient-from: #191a24;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(25.398, 26.438399999999994, 35.802, 0));
}
.bg-gradient-to-b {
  background-image: linear-gradient(180deg, var(--tw-gradient-stops));
}

.bg-darkest-blue {
  --tw-bg-opacity: 1;
  background-color: rgba(
    25.398,
    26.438399999999994,
    35.802,
    var(--tw-bg-opacity)
  );
}
.hover\:text-soft-red:hover,
.text-soft-red {
  --tw-text-opacity: 1;
  color: rgba(
    250.91999999999996,
    95.88000000000005,
    134.64000000000001,
    var(--tw-text-opacity)
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.card__top {
  &::before {
    left: -5px;
    bottom: -5px;
  }

  &::after {
    right: -5px;
    bottom: -5px;
  }
}

.card__bottom {
  &::before {
    left: -5px;
    top: -5px;
  }

  &::after {
    right: -5px;
    top: -5px;
  }
}

.card__top,
.card__bottom {
  &::before,
  &::after {
    background-color: hsl(235, 16%, 14%);
    border-radius: 50%;
    position: absolute;
    content: " ";
    display: block;
    height: 10px;
    width: 10px;
  }
}
